html{
}
/* assignment container*/
.assignmentWrapper{
height: 100%;
}
img{
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width:100%;
z-index: -1;
}
.container{
display: flex !important;
align-content: center;
justify-content: center;
flex-direction: column;
width: 70%;
height:inherit;    
}    
* {
box-sizing: border-box;
}

/* Text area*/
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}
label {
padding: 12px 12px 12px 0;
display: inline-block;
}
.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

/* Bootstarp columns*/
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}
.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}